admin index
<form method="post">
    <input type="text" name="typeOfForm" value="login" hidden>
    <input type="text" name="username">
    <input type="text" name="password">
    <input type="submit" value="Login">
</form>
{{msg}}